{% extends "base.html" %}

{% block content %}

<h1 align="center"> {{ post.user.user.username }} </h1>
<p> {{ post.text }} </p>
<p> {{ post.date }} </p>

{% if can_edit %}

<a href="{% url 'editpost' post.id %}"> Edit </a>

{% endif %}
<br><br>

<a href="{% url 'like' post.id %}">
{% if liked %}
Unlike this post
{% else %}
Like this post
{% endif %}
{{ likes }}
</a>
Liked by
{% for user in likers %}

{{ user.user.username }},

{% endfor %}

<br>

<form action="#" method="post">
{% csrf_token %}
<input type="text" name="comment" placeholder="Comment">
<input type="submit" value="Comment">
</form>

{% for comment in comments %}
<p> {{ comment.user.user.username }} </p>
<p> {{ comment.text }} </p>
{% if username == comment.user.user.username %}
<p> <a href="{% url 'editcomment' post.id comment.id %}"> Edit </a> </p>
{% endif %}
<p> {{ comment.date }} </p>
{% endfor %}

{% endblock %}